
:root{
    --oneColor:#1a1aff;
    --twoColor: #1aff1a;
    --thrColor: #00ffcc;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 13000px;
    margin:0 auto;
    padding:0 90px;
}
.home{
    background: linear-gradient(120deg,#03039b, var(--oneColor));
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:8px;
    padding:10px;
}
.navbar ul{
    list-style-type: none;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    text-decoration: none;
    color:#333;
    margin:0 4px;
    font-size: 19px;
    color:#fff;
}
.logo{
    background:var(--twoColor);
    color:var(--oneColor);
    width:30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}
.navbar i{
    background:var(--oneColor);
    color:var(--thrColor);
}

/* showcase */
img{
    width:300px;
}
.showcase{
    
}